html {
  background: radial-gradient(circle, #00ffff, #00ced1, #00b2ee, #1e90ff);
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 50px;
}

.pokemon {
  border: 1px solid black;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pokemonInfo {
  padding: 10px;
  font-weight: 600;
}

.pokemonId {
  color: rgb(15, 24, 198);
  font-weight: bold;
}

.App {
  text-align: center;
}
